<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true" data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns">
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2"
               style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true"
               style="width:500px;height:100px"/>
        <input id="spuIdForSku" name="spuId" type="hidden"/>

        <input id="skuId" name="id" type="hidden"/>

        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>

        <input id="skuInfo" name="skuInfo" type="hidden"/>


        <div id="attrInfoGroup" title="平台属性" class="easyui-panel" style="padding:5px;"></div>

        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;"></div>


        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'"></table>

        <br/><br/>

    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>


</body>
<script>

    function saveSku() {
        var sku={}
        //获取选中的图片
        var ImgRows = $("#skuImgDg").datagrid("getChecked");
        if (ImgRows.length < 3){
            layer.msg("请至少选择三张图片");
        }else{
            var skuDefaultImage = $("input[name='isDefault']:checked").val();
            $(ImgRows).each(function (i,row) {
                if (!skuDefaultImage && i == 0){
                    skuDefaultImage = row.imgUrl;
                }
                sku["skuImageList["+i+"].imgName"] = row.imgName;
                sku["skuImageList["+i+"].imgUrl"] = row.imgUrl;
                if (skuDefaultImage == row.imgUrl){
                    sku["skuImageList["+i+"].isDefault"] = 1;
                }else{
                    sku["skuImageList["+i+"].isDefault"] = 0;
                }
                sku["skuImageList["+i+"].spuImgId"] = row.id;
            })
            sku["skuDefaultImg"] = skuDefaultImage;
            //封装选中的平台属性
            //获取选中的下拉列表
            var attrName = $("#attrInfoGroup").children("span");
            $(attrName).each(function (i,span) {
               var attrId =  $(span).attr("attrId");
                var valueId = $(span).children("select").val();
                sku["skuAttrValueList["+i+"].attrId"] = attrId;
                sku["skuAttrValueList["+i+"].valueId"] = valueId;
            })
            //封装销售属性
            var spuAttrNameList = $("#spuSaleAttrGroup").children("span");
            $(spuAttrNameList).each(function (i,span) {
               var saleAttrId =  $(span).attr("saleAttrId");
               var saleAttrName = $(span).attr("saleAttrValue");
               var saleAttrValueName = $(span).children("select").find("option:selected").text();
               var saleAttrValueId = $(span).children("select").val();
               sku["skuSaleAttrValueList["+i+"].saleAttrId"] = saleAttrId;
               sku["skuSaleAttrValueList["+i+"].saleAttrName"] = saleAttrName;
               sku["skuSaleAttrValueList["+i+"].saleAttrValueName"] = saleAttrValueName;
               sku["skuSaleAttrValueList["+i+"].saleAttrValueId"] = saleAttrValueId;

            })
            //封装其他信息
            var skuName = $("#skuName").textbox("getValue");
            var price = $("#price").textbox("getValue");
            var weight = $("#weight").textbox("getValue");
            var skuDesc = $("#skuDesc").textbox("getValue");
            sku["skuName"] = skuName;
            sku["price"] = price;
            sku["weight"] = weight;
            sku["skuDesc"] = skuDesc;
            var spu = $("#spulist_dg").datagrid("getSelected");
            sku["spuId"] = spu.id;
            sku["catalog3Id"] = $("#ctg3ForAttrList").combobox("getValue")
            $.post('saveSku',sku,function (data) {
                $("#sku_dlg").dialog("close");
            })
        }
    }
    function initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid( {
            url:'spuImageList?spuId='+spuId,
            columns: [[
                {field: 'id', checkbox:true, width: 80},
                {field: 'imgName', title: '图片简称', width: 100},
                {field: 'showImg', title: '图片展示', width: 200 ,
                    formatter: function(value,row,index){
                    return " <img src='"+row.imgUrl+"' width='200px' height='100px'/>";
                }
                },
                {field: 'imgUrl', title: '图片路径', width: 200 },
                {field: 'isdefault', title: '是否默认图片', width: 100 ,
                    formatter: function(value,row,index){
                        return " <input type='radio' value='"+row.imgUrl+"' name='isDefault'/>";
                    }},
            ]],
            }
        )
    }
    function initAttrInfoGroup(catalog3Id) {
        $("#attrInfoGroup").empty();
        $.post(
            "getListAttrValueByCatalog3Id",
            {"catalog3Id":catalog3Id},
             function (data) {
                $(data).each(function (i,attr) {
                    var spanBegin = "<span attrId ='"+attr.id +"' >"+attr.attrName;
                    var selectBegin = "<select>";
                    var valueOption = "";
                       $(attr.attrValueList).each(function (j,attrValue) {
                           valueOption = valueOption + " <option value='"+attrValue.id+"'>"+attrValue.valueName+"</option> ";
                       })
                    var selectEnd = "</select>";
                    var spanEnd = "</span>";
                    $("#attrInfoGroup").append(spanBegin+selectBegin+valueOption+selectEnd+spanEnd);
                })
             }
        )
    }
    function  initSpuSaleAttrGroup(spuId) {
        $("#spuSaleAttrGroup").empty();
        $.post(
            "getListSpuAttrValueBySpuId",
            {"spuId":spuId},
            function (data) {
                $(data).each(function (i,spuAttr) {
                    var spanBegin = "<span saleAttrId='"+spuAttr.saleAttrId +"' saleAttrValue='"+spuAttr.saleAttrName+"'>"+spuAttr.saleAttrName;
                    var selectBegin = "<select>";
                    var valueOption = "";
                    $(spuAttr.spuSaleAttrValueList).each(function (j,saleAttrValue) {
                        valueOption = valueOption + " <option value='"+saleAttrValue.id+"'>"+saleAttrValue.saleAttrValueName+"</option> ";
                    })
                    var selectEnd = "</select>";
                    var spanEnd = "</span>";
                    $("#spuSaleAttrGroup").append(spanBegin+selectBegin+valueOption+selectEnd+spanEnd);
                })
            }
        )
    }
</script>
</html>